* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

.bg {
  animation: slide 50s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #3D3D3D 50%, #6E6E6E 50%);
  bottom: 0;
  left: -50%;
  opacity: .5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 12s;
}

.bg3 {
  animation-duration: 15s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(25%);
  }
}

.blanche {
  background-color: hsla(0, 0%, 50%, 0.27);
  width: 470px;
  border: solid hsla(0, 0%, 100%, 0.329) 1px;
}

.hauteur {
  height: 100vh;
}

.bacground {
  background-color: #FE7439 !important;
  cursor: pointer;

}

.sidebar {
  width: 280px;
  background-color: hsla(0, 0%, 50%, 0.27);
  height: 91vh;
  border-radius: 10px;
}

.lienhover:hover {
  background-color: #a6a6a677;
}

.active {
  background: #FE7439;
}

.main-content {
  height: 100vh !important;
  margin-left: 300px;
  flex: 1;
  overflow: hidden !important;
}

.sidebar {
  background-color: #7F7F7F;
  border: solid hsla(0, 0%, 100%, 0.148) 1px;
}

.couleurunique {
  background-color: #7F7F7F;
  border: solid hsla(0, 0%, 100%, 0.148) 1px;
  border-radius: 10px;

}

.vide {
  width: 9px;
  height: 9px;
  right: 1px;
  background-color: #FE7439;
}

.drapeau {
  width: 80%;
  height: 50%;
}

.lienhover1 {
 background-color: #7F7F7F;
border: solid hsla(0, 0%, 100%, 0.047) 1px;
border-radius: 10px;
}

.tret-orange {
  display: inline-block;
  width: 50px;
  height: 20px;
  background-color: #FE7738;
}

.tret {
  display: inline-block;
  width: 50px;
  height: 20px;
  background-color: #FFBDA3;
}

.tret-fre {
  background-color: #FBDBCE;
}

.loren {
  background-color: #cecbcbe2 !important;
}

.couleurunique1 {
  background-color: #60606054 !important;
}

.colororange {
  color: #FE7439;
  background-color: white;
}

.moinfoncé {
  background-color: #888787;
  border: solid hsla(0, 0%, 100%, 0.157) 1px;
  border-radius: 10px;
}

nav .nav-link.active {
  background-color: #f8f0f077 !important;

}

.mode-active {
  cursor: pointer;

}

.bull {
  margin-left: -8px;
}

.bull1 {
  margin-left: -12px;
  font-size: 20px;
}

.nonfoncé {
  background-color: #B2B1B1;
}

.profil {
  width: 220px;
  height: 250px;
}

.orange-div {
  border: solid #FE7539 1px;
  background-color: #da44032b;
  color: #C47457;
}

.emation button:hover {
  background-color: #a6a6a645 !important;
}

.recp {
  width: 150px;
  height: 50px;
  border-radius: 10px;
 background-color: #88878760;
  border: solid hsla(0, 0%, 100%, 0.379) 1px;
  border-radius: 10px;

}

.scrollspy-example {
  height: 600px;
  overflow-y: auto;
}

.nav-pills .nav-link {
  color: white;
}

.nav-pills .nav-link.active {
  background-color: orange;
  color: white;
}

.couleurunique1 {
  background-color: #a9a7a71f;
}


.scrollspy-example::-webkit-scrollbar{
    display: none;
}

.scrollspy-example{
    -ms-overflow-style: none;
    scrollbar-width: none;
}




@media (max-width: 991px) {

  .main-content {
    width: 100%;
    margin-left: 0;
  }

}